[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.8.*"
black = "==21.6b0"
bokeh = "==2.3.3"
boto3 = "==1.17.11"
cloudpickle = "==1.5.*"
cython = "==0.29.*"
dask = "*"
dill = "==0.3.*"
distributed = "*"
elyra-python-editor-extension = "==2.2.4"
h5py = "==2.10.*"
ipywidgets = ">=7.5.0"
jupyter-bokeh = "*"
jupyter-server = "==1.8.0"
jupyter-tensorboard = "*"
jupyterlab = "==3.0.16"
jupyterlab-git = "==0.30.0"
jupyterlab-s3-browser = "*"
kafka-python = "==2.0.2"
matplotlib = "==3.4.1"
nbclassic = "==0.3.1"
numpy = "==1.19.2"
pandas = "==1.2.4"
plotly = ">=4.5.0"
pyarrow = "*"
pylint = "==2.10.2"
s3fs = "==0.3.4"
scikit-image = "*"
scikit-learn = "==0.24.1"
scipy = "==1.6.2"
seaborn = "*"
sqlalchemy = "==1.3.*"
statsmodels = "==0.10.*"
tensorflow-gpu = "==2.4.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
