[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "==21.6b0"
bokeh = "==2.4.0"
boto3 = "==1.17.11"
cython = "*"
dill = "*"
distributed = "*"
h5py = "*"
ipywidgets = ">=7.5.0"
kafka-python = "==2.0.2"
matplotlib = "==3.4.1"
nbclassic = "==0.3.1"
numpy = "==1.19.2"
pandas = "==1.2.4"
plotly = ">=4.5.0"
pyarrow = "*"
pylint = "==2.10.2"
s3fs = "==0.3.4"
scikit-image = "*"
scikit-learn = "==0.24.1"
scipy = "==1.6.2"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "==0.13.0"
tensorboard = "==2.6"
tensorflow-gpu = "==2.7.0"

jupyter-bokeh = "3.0.0"
jupyter-tensorboard = "*"
jupyterlab = "==3.2.4"
jupyterlab-git = "~=0.32.0"
jupyterlab-s3-browser = "==0.10.1"
jupyter-server-proxy = "*"
elyra-python-editor-extension = "==3.0.5"
kfp = "==1.6.3"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
